html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  /*padding-top: 100px;*/
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
footer {
  padding: 30px 0;
}


/* LAYOUT */

.app-logo {
  margin-top: 20px;
  margin-left: 20px;
}

.header-container {
  width:100%;
  position: relative;
}

.header {
  width:1200px;
  height: 90px;
  margin: 0 auto;
  background-color: #0f3f80;
}

a:hover {
  text-decoration: none;
}

#sidebar, #content-list {
  margin-top: 20px;
}

#sidebar {
  padding-left: 0px;
  padding-right: 0px;
}


.form-control {
  font-size: 12px;
  border-radius: 2px;
}

.am-button-sm {
  color: #fff;
  background-color: #002c77;
  border-radius: 2px;
  font-weight: bold;
  padding: 5px 5px;
  height: 30px;
}

.am-button-lg {
  color: #fff;
  background-color: #002c77;
  border-radius: 3px;
  font-weight: bold;
}


/* NAVBAR */

.navbar-header {
  /*height: 40px;*/
  background-color: #fff;
  text-align: center;
  /*width:100%;*/

    /*float: left;*/
    /*padding: 15px;*/
    /*display: inline-block;*/
    /*margin: 0 auto*/
}

.navbar-header .navbar-toggle  {
  float:none;
}

div.navbar-header > button {
  background-color: #fff;
  color: #157ab1;
  border: 0;
  font-weight: bold
}

.nav .navbar-nav {
  background-color: #fff;
  margin-bottom: 0px; 
}

ul.navbar-nav {
  margin: 0;
}

ul.navbar-nav div{
  margin: 0;
  border-bottom: 1px solid transparent; 
}

div.navbar-collapse.collapse.in {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}





/* PANEL */

.panel {
  background-color: #fff;
  border: 1px solid transparent; 
  border-radius: none; 
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-radius: 0;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	background-color: #fff;
}

.panel-default > .panel-heading {
	background-image: none;
	background-color: #fff;
  border: none;
}

.panel div{
  color: #157ab1;
}

.panel .panel-heading i{
  cursor: pointer;
}


.nav-panel{
  margin-bottom: 0px;
}

.side-panel{
  margin-bottom: 4px;
}

.side-panel-bold{
  margin-bottom: 5px;
}

.side-panel-bold h4{
  font-weight: bold;
  font-size: 16px;
  color:#000;
}

.panel-title {
  font-weight: bold;
  font-size: 12px;
  /*display: inline-block;*/
  height: 18px;
}

.side-panel-bold a {
  color: #4a4a4a;
}

.panel-title span {
  height: 18px; /* image's height */
  /*display: table-cell;*/
  vertical-align: middle;
  top: -2px;
  display: inline-block;
  line-height: normal; 
}

.panel-body input{
  max-width: 300px;
  display:inline-block;
}

.form-group {
  /*display:inline-block;*/
}


.icon {
  height:16px;
  width:16px;
}

.icon-sm {
  height:14px;
  width:14px;
}

.icon-gold {
  background-color: #fdba12;
}

.icon-blue {
  background-color: #157ab1;
}

.icon-grey {
  height:16px;
  object-fit: contain;
}

.svgStar {
  -webkit-mask-image: url(../icons/filters/star.svg);
  mask-image: url(../icons/filters/star.svg);
}

.svgSearch {
  -webkit-mask-image: url(../icons/filters/search.svg);
  mask-image: url(../icons/filters/search.svg);
}



.list {
  /*height: 100%;*/
  /*width: 749px;*/
  /*background-color: green;*/
  float:left;
  position: relative;
  height: 100%;
  width: 100%;

}


/* ITEM */

@media screen and (min-width: 768px) {

  .item-hotel {

    height:180px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    padding:10px;
    margin-bottom:18px;
  }

  .box-price {
    height:160px;
    float:right;
    padding:  20px 10px 10px;
  }

  .box-img {
    height:160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    min-width: 194px;
    max-width: 230px;
    padding-right: 0px; 
    padding-left: 0px;
  }

  .box-img img {
    height:100%;
    max-width: 225px;
  }

  .desc-text {
    margin: 0 20%;
    font-size: 10px;
  }

  .box-price button {
    width: 90%;
    padding: 5px 0px;
  }


}

@media screen and (max-width: 768px) {

  .item-hotel {
    width:100%;
    min-width:220px;
    background-color: violet;
  	background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  	padding:10px;
  	margin-bottom:20px;
    float:left;
  }

  .box-price {
    height:160px;
    float:left;
    padding:  20px 10px;
  }

  .box-img {
    background-color: red;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    padding-right: 0px; 
    padding-left: 0px;
  }

  .box-img img {
    width:100%;
  }

  .desc-text {
    margin: 0 10%;
    font-size: 16px;
  }

  .box-price button {
    width: 100%;
  }

}

.box-amenities {
  min-height:100px;
  /*width:100%;*/
  min-width:160px;
  float:left;
  /*padding-left: 6px;*/
}

.box-amenities img{
  margin-right: 5px; 
}

.box-amenities h4{
  color: #157ab1;
  font-weight: bold;
}


.price-text {
  color: #df6800;
  font-weight: bold;
  font-size: 24px;
}

.price-number {
  color: #df6800;
  font-weight: bold;
  font-size: 36px;
}





/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

}

@media screen and (min-width: 768px) {
  .navbar {
    display: none;
    background-color: red;
  }

  .panel-body button{
    margin-left: 0px;
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 5px 7px;
  }

  .box-amenities {
    left: 16px;
    padding-right: 0px; 
  }

  .box-price {
    padding-right: 0px; 
    padding-left: 0px;
    max-width: 150px;
  }

}


@media screen and (min-width: 992px) {
  .navbar {
    display: none;
    background-color: red;
  }

  .panel-body button{
    margin-left: 10px;
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 5px 15px;
  }

}
