html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  background-color: #EEEEEE;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333333;
}

/* HEADER */

.header-container {
  width:100%;
  height: auto;
  background-color: #ffe600;
  padding: 0 10px;
}

.header {
  max-width: 1040px;
  margin: 0 auto;
  padding: 8px 16px;
  height: 56px;
}

.header input {
  font-size: 18px;
  border: none;
  height: 39px
}

.header button {
  height: 39px
}

.img-logo {
  float: left;
  height: 39px;
  width: 60px;
  min-width: 55px;
}

.input-seach{
  float: right;
  width: 92%;
  min-width: 300px;
}

/* CONTAINER */

.container {
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  float: none;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.bread-crumb-container {
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-align: center;
}

.bread-crumb{
  width:100%;
  padding: 16px 16px;
  float: left;
  margin: 0 auto;
  overflow: hidden;
  display: inline;
  text-align: center;
}

.bread-crumb ul {
  margin: 0;
  list-style: none;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

.bread-crumb ul {
  float: left;
  margin: 0 5px 0 0px;
}

.bread-crumb div {
  margin: 15px 0;
}

.bread-crumb ul li {
  display:inline;
  font-size: 14px;
  color: #999999;
}

.content {
  position: relative;
  padding: 0 16px;
  max-width: 1040px;
  display: block;
  margin: 0 auto;
}

.content div{
  float: left;
}


/* LAYOUT */
.col-left {
  width: 70%;
  height: 100%;
}

.col-right {
  width: 30%;
  height: 100%;
}

.bold {
  font-weight: bold;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #333333;
}

.ml-button-sm {
  color: #fff;
  background-color: #002c77;
  border-radius: 2px;
  font-weight: bold;
  padding: 5px 5px;
  height: 30px;
}

.ml-button-lg {
  color: #fff;
  background-color: #3483FA;
  border-radius: 3px;
  font-weight: bold;
  padding: 0 20px;
  height: 46px;
  width: 100%;
}

.content-list {
  padding: 16px;
  background-color: #fff;
  border-radius: 2px;
  min-height: 1000px;
}

/* ITEM LIST*/

.product-list {
  height:204px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 16px;
}

.product-list .box-img {
  height:200px;
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  float:left;
}

.product-list .box-img img {
  width:100%;
  height:100%;
  border-radius: 5px;
}

.product-list .box-description {
  height:200px;
  float:left;
  padding: 30px 0 0;
  padding-left: 16px;
}

.product-list .box-description .title {
  font-size: 18px;
  float:left;
}

.product-list .price-text {
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 20px;
}

/* ITEM DETAIL*/
.product-detail {
  height: auto;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 32px;
  position: relative;
  float: left;
  border-radius: 3px;
}

.product-detail .box-img {
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  float:left;
  margin-bottom: 52px;
}

.product-detail .box-img img {
  width:100%;
  height:100%;
  border-radius: 5px;
}

.product-detail .box-detail {
  height: auto;
  float: left;
  margin: 0 auto;
  padding-left: 20px;
}

.product-detail .box-detail .title {
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: bold;
}

.product-detail .price-text {
  margin-bottom: 32px;
  font-size: 46px;
  line-height: 40px;
}

.product-detail .detail-text {
  font-size: 14px;
  margin-bottom: 6px;
}

.product-detail .description-text {
  color: #999999;
  height: auto;
  font-size: 12px;
  line-height: bread;
  font-weight: bold;
}

.description-text .title {
  color: #333333;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: normal;
}


/* COMMON */

.no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.item-product > div, .item-product > img, .item-product > p  {
  pointer-events: none;
}


.overlay {
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.overlay .glyphicon {
  font-size: 40px;
  margin-left: 50%;
  margin-top: 20%;
}

.glyphicon-spin {
    -webkit-animation: spin 1500ms infinite linear;
    animation: spin 1500ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
